name: Linters

on:
  pull_request: {}
  push: {}

jobs:
  gitlint:
    runs-on: ubuntu-latest
    name: GitLint
    steps:
      - name: Lint commits, branches, and pull requests
        uses: aschbacd/gitlint-action@v1.1.0
        with:
          re-commit-message-subject: (fix|feat|doc)\(VPD-\d\d+\):[A-Za-z]+
          re-pull-request-title: (fix|feat|doc)\(VPD-\d\d+\):[A-Za-z]+
